*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode/

#appsettings
/JawwedAPI.WebAPI/appsettings.json
/JawwedAPI.WebAPI/fireBaseCredits.json
/JawwedAPI.WebAPI/appsettings.Development.json

# Rider
.idea/

# Visual Studio
.vs/

# Fleet
.fleet/

# Code Rush
.cr/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn
JawwedAPI.WebAPI/Properties/PublishProfiles/jawwed-001-site1 - FTP.pubxml
JawwedAPI.WebAPI/Properties/PublishProfiles/jawwed-001-site1 - Web Deploy.pubxml
JawwedAPI.WebAPI/Properties/PublishProfiles/site14496-WebDeploy.pubxml
JawwedAPI.WebAPI/Properties/PublishProfiles/site14496-WebDeploy1.pubxml
